<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="top">
    <h1>Welcome to <a routerLink="">{{ title }}</a></h1>
        <ul class="nav justify-content-center">
          <li class="nav-link active"><a routerLink="furniture">furniture</a></li>
          <li class="nav-link active"><a routerLink="fashion">fashion</a></li>
          <li class="nav-link active"><a routerLink="free">free</a></li>
          <li class="nav-link active"><a routerLink="add-post">add post</a></li>
			
        </ul>
				<img class="kevin" src="./assets/kevin.png" alt="mcallister">
  </div>
  <router-outlet></router-outlet>
</div>
