/* You can add global styles to this file, and also import other style files */
li {
  list-style: none;
  text-align: left;
}
ul {
  padding: 10%;
}
.list-heading {
  margin-top: 10vh;
}

.price {
  /*font-weight: lighter;*/
}
